
@model List<TodoApp.Models.TodoItem>

@{
    ViewBag.Title = "TodoList";
}

<h2>TodoList</h2>

@Html.ActionLink("New item", "Create")

<ol>
    @foreach(var todoItem in Model) {
        if (@todoItem.Done) {
            <li><strike>@Html.ActionLink(todoItem.Name, "Details", new { todoItem.Id })</strike> @Html.ActionLink("Edit", "Edit", new { id = todoItem.Id }) @Html.ActionLink("Delete", "Delete", new { id = todoItem.Id }) </li>
        } else {
            <li>@Html.ActionLink(todoItem.Name, "Details", new { todoItem.Id }) @Html.ActionLink("Edit", "Edit", new { id = todoItem.Id }) @Html.ActionLink("Delete", "Delete", new { id = todoItem.Id })</li>
        }
    }
</ol>

@using (Html.BeginForm("Create", "Todo")) {
    
    @Html.TextBox("name")
    @Html.CheckBox("done")
    <button>Save</button>
}